H1 {
  color: #EAAA00;
  font-family: "Papyrus", Fantasy;
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
}
.navbar {
  overflow: hidden;
  Position: fixed;
  top; 0;
  color: #FFFFFF;
  background-color: #FFFFFF;
  Width: 100%;
  list-style: none;
  margin: auto;
  padding:0;
  text-align:center;
}

.navbar a {
  display: inline-block;
  color: #9756CC;
  tex-align: center;
  padding: 14px 16px 4px;
  text-decoration: none;
  font-size 20px;
}

.navbar a:active {
  color: black;
}

.navbar li {
  display:inline;
}

.navbar a:hover {
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}

.img1 {
  float: right;
}

.clearfix::after {
  content: "";
  clear; both;
  display: table;
}

.clearfix p {
  font-size:1vw
}
